spring:
  application:
    name: flyway-demo
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      validation-timeout: 5000
      schema: dbo
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false  # Never in prod
    validate-on-migrate: true
    clean-disabled: true        # Must be true in prod
    create-schemas: true
    schemas: flyway,dbo
    default-schema: flyway
    table: flyway_schema_history
    baseline-version: 1
    baseline-description: "<< Flyway Baseline >>"
    callback-locations: classpath:db/callbacks

server:
  port: 8080